header{
    background: #BBBBBB;
    padding: 20px;/*espaço em cima e embaixo do cabeçalho- espaçamento interno*/
}

caixa{
    position: relative;/*menu dentro da caixa*/
    width: 940px;/*largura da caixa*/
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;

}
nav li{
    display: inline;
    margin: 0 0 0 15px;/*espaçamento externo*/
}

nav a{
    text-transform: uppercase;/*letras maiusculas*/
    color: #000000;/*cor de letras pretas*/
    font-weight: bold;/*fonte negrito*/
    font-size: 22px;/*tamanho da fonte*/
    text-decoration: none;/*retirar o sublinhado do texto*/
 }   